APP_ENV=development
DATABASE_URL="postgresql://anov:anov@localhost:5432/anov_dev?schema=public"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# -- Plus tard
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_xxx"
# STRIPE_SECRET_KEY="sk_test_xxx"
# STRIPE_WEBHOOK_SECRET="whsec_xxx"

# RESEND_API_KEY="re_xxx"
# TWILIO_ACCOUNT_SID="ACxxxx"
# TWILIO_AUTH_TOKEN="xxxx"
# TWILIO_PHONE_NUMBER="+33700000000"

# NEXTAUTH_SECRET="replace-with-strong-secret"
# CRON_SECRET="replace-with-strong-secret"
# ADMIN_EMAIL="admin@anov.fr"
# ADMIN_PASSWORD="ChangeMe123!"
