APP_ENV=development
DB_PASSWORD=anov
DATABASE_URL="postgresql://anov:${DB_PASSWORD}@localhost:5432/anov_dev?schema=public"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"

ADMIN_PASSWORD=ChangeMe123!

# Configuration SMTP pour l'envoi d'emails
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=admin@anovrestaurant.fr
SMTP_PASSWORD=Tinkoc-symku4-hibbyx
SMTP_FROM="L'ANØV <contact@anovrestaurant.fr>"
CONTACT_EMAIL=admin@anovrestaurant.fr

# Configuration Stripe pour les paiements
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

RESTAURANT_ADDRESS=12 Rue de la République, 75001 Paris, France

# Configuration Twilio pour l'envoi de SMS de rappel (https://www.twilio.com)
TWILO_SID=your_twilio_account_sid
TWILO_AUTH=your_twilio_auth_token
TWILO_PHONE_NUMBER=+33757000000
