@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'Roman Serif Regular';
  src: local('Roman Serif Regular'), local('RomanSerifRegular');
  font-style: normal;
  font-weight: 400;
}
